body {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

.compete {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px;
  padding-bottom: 160px;
}

.compete-header {
  display: flex;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.back-button {
  border: none;
  background-color: transparent;
  font-size: 20px;
  font-weight: 600;
  padding: 0;
}

.compete-header-text {
  flex: 1;
  text-align: center;
}

.compete-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.compete-content {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #e5e5e5;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.03);
  border-radius: 20px;
}

.compete-product {
  margin-top: 40px;
}

.product-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  font-weight: 600;
  background-color: #e5e5e5;
  border-radius: 30px;
  padding: 10px;
  margin-bottom: 20px;
}

.product-img {
  width: 50px;
}

.product-number {
  flex: 1;
  margin-left: 30px;
}

.price-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding-right: 10px;
}

.product-price {
  color: #fa4a0c;
  margin-bottom: 5px;
}

.compete-info {
  margin-top: 40px;
}

.compete-info-content {
  display: block;
}

.compete-info-img {
  width: 80px;
  margin-right: 20px;
}

.compete-name,
.compete-address {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
}

.compete-payment,
.compete-delivery-method {
  margin-top: 50px;
}

.compete-payment-content {
  display: block;
}

.compete-payment-item {
  display: flex;
  align-items: center;
}

.compete-payment-img {
  border-radius: 10px;
  padding: 10px;
  margin: 0 10px;
}

.compete-card {
  background: #f47b0a;
}

.compete-bank {
  background: linear-gradient(0deg, #eb4796, #eb4796), #c4c4c4;
}

.compete-delivery-method .compete-radio-btn {
  margin-right: 10px;
}

.button {
  position: fixed;
  bottom: 0;
  left: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-top: solid 1px #cccccc;
}

.compete-total {
  color: green;
  font-size: 20px;
  font-weight: 600;
  text-align: right;
  margin-bottom: 20px;
}

.compete-btn,
.buy-btn {
  border: none;
  color: #fff;
  font-size: 20px;
  padding: 15px 0;
  background: #fa4a0c;
  border-radius: 30px;
  width: 100%;
}

.buy {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
}

.buy-btn {
  margin-top: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(51, 51, 51, 0.4);
  z-index: 10;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
}

.overlay i {
  color: green;
  font-size: 60px;
}

.overlay span {
  font-size: 18px;
  font-weight: 600;
}

.show {
  display: flex;
}
